/*
------------------------
        IMPORTS
------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
------------------------
    ROOT VARIABLES
------------------------
*/
:root {
    --color-1: #9C1F1F;  /* Rojo pasión intenso */
    --color-2: #FF6B00;  /* Naranja volcánico */
    --color-3: #FFD700;  /* Amarillo dorado */
    --color-4: #FFF6D5;  /* Amarillo pálido */
    --color-5: #FFAE00;  /* Mostaza brillante */
}

/*
------------------------
    GENERAL STYLES
------------------------
*/

* {
    font-family: 'Inter', sans-serif;
}

/*
------------------------
    REUSABLE STYLES
------------------------
*/
.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.f-direction-column {
    flex-direction: column;
}

.f-justify-center {
    justify-content: center;
}

.f-align-center {
    align-items: center;
}

/* === Base Font Sizes === */
.text-display { font-size: 2.5rem; }  /* 40px */
.text-h1      { font-size: 2rem; }    /* 32px */
.text-h2      { font-size: 1.5rem; }  /* 24px */
.text-body    { font-size: 1rem; }    /* 16px */
.text-sub     { font-size: 0.875rem; }/* 14px */
.text-caption { font-size: 0.75rem; } /* 12px */

.font-bold     { font-weight: 700; }
.font-medium   { font-weight: 500; }
.font-regular  { font-weight: 400; }

/*
------------------------
    COMPONENT STYLES
------------------------
*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
button {
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--color-2);
    border-radius: 5px;
    background-color: var(--color-2);
}

.card {
    background-color: #FAF9F6;
    border-radius: 8px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    color: var(--color-1);
}

/*
------------------------
    LOGIN PAGE
------------------------
*/

svg{
    width: 20vw;
    height: 20vh;
    color: #fff;
  }

.login__body {
    width: 100vw;
    background-color: var(--color-4);
    display: flex;
}

.right_section {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
}

.left_section {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}



